body {
	font-family: 'Sarabun', sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.logo {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo-image{
	width: 100%;
	max-width: 200px;
	height: auto;
}

header {
	background-color:rgb(16,201,195);
	position: fixed;
	width: 100%;
	z-index: 1;
}

.header-container{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header a {
	text-decoration: none;
}

header li {
	list-style: none;
}

.header-container a{
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding: 0 0;
	margin-left: 30px;
}

header ul{
	display: flex;
}

.about-us{
	background-color:rgb(255,255,255);
	padding: 100px 40px;
	padding-top: 120px;
}

.about-us h1{
	text-align: center;
	font-size: 40px;
}

.about-us p{
	text-align: center;
	font-size: 18px;
	color: rgb(120,120,120);
	padding: 15px 0;
}

.signature {
	display: block; 
	margin: 0 auto;
	padding-top: 20px;
}

.skill-container {
	background-color: rgb(240,240,240);
	padding: 50px;
}

.skill-info {
	text-align: center;
	padding: 50px;
}

.poll{
	display: flex;
	justify-content: space-around;
}

.progressbar.A75 {
	background-image: linear-gradient(to right,rgb(16,201,195) 75%, rgb(216,216,216)25%);
  	border-radius: 13px;
 	padding: 3px;
 	width: 175px;
 	margin-top: 19px;
 	margin-bottom: 40px;
}

.progressbar.A90 {
	background-image: linear-gradient(to right,rgb(16,201,195) 90%, rgb(216,216,216)10%);
  	border-radius: 13px;
 	padding: 3px;
 	width: 175px;
 	margin-top: 19px;
 	margin-bottom: 40px;
}

.progressbar.A65 {
	background-image: linear-gradient(to right,rgb(16,201,195) 65%, rgb(216,216,216)35%);
  	border-radius: 13px;
 	padding: 3px;
 	width: 175px;
	margin-top: 19px;
 	margin-bottom: 40px;
	 
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 75px 20px;
	background-color: rgb(16,201,195);
}

.card {
	display: flex;
	flex: 25%;
}

.first-p {
	margin-top: -4px;
	margin-left: 20px;
	font-size: 16px;
	color: white;
	float: right;
}

.flexbox{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	height: 605px;
}

.flexbox div{
	flex: 33%;
}
.boxInf{
padding: 20px;

}
.fleximg{
   background: url(img/look.png) no-repeat center center;
}

.ewq img{
	position: absolute;
	top:277px;
	left: 578px;
}

.qwe img{
	position: absolute;
	top: 243px;
	left: 539px;
}

.imggalery{
	justify-content: space-around;
	align-items: baseline;
	padding: 35px;
	background-color: #f5f5f5;
}

.diamond {
	display: inline-block;
	width: 24%;
	text-align: center;
}

.diamond h3{
	padding: 10px 0;
	color: #454545;
}

.diamond p{
	color: #939393;
}

.testimonials {
	padding: 100px 30px;
	width: 100%;
	background-color: #10c9c3;
	text-align: center;
}



.quote {
	color: black;
	line-height: 1.5;
	padding: 100px 0;
	text-align: center;

}

.quote p{
	font-size: 24px;
}

.ptext p{
	padding-top: 40px;
	font-size: 14px;
}

.smallpagination {
	height: 9px;
	width: 9px;
	border-radius: 9px;
	background-color: #b0e8e6;
}

.bigpagination {
	height: 12px;
	width: 12px;
	border-radius: 12px;
	background-color: #ffffff;
}

.pagination div{
	display: inline-block;
	margin: 0 3px;
	margin-top: 100px;
	vertical-align:middle;
}

.question {
	background-color: #f5f5f5;
	padding: 50px 20px;
}

.question h1{
	font-size: 30px;
	padding-bottom: 35px;
}

.question p{
	color: #adadad;
}

.qtext {
	text-align: center;
}

.input{
	padding-top: 37px;
}

.input input, .input textarea {
	width: 70%;
	height: 50px;
	border: none;
	resize: none;
}

.input4 textarea{
	height: 165px;
}

.input {
	text-align: center;
}

.input div {
	padding: 15px 0;
}

::-webkit-input-placeholder { 
  color: #c0c0c0;
  font-size: 15px;
}

.input button{
	padding: 21px 46px;
	margin-top: 31px;
	background-color: rgb(16,201,195);
	color: rgb(255,255,255);
	border: none;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder
 {
   	padding-top: 17px;
   	padding-left: 15px;
}

footer {
	background-color: #141414;
	color: #a6a6a6;
}

.footer-container {	
	display: flex;
	justify-content: space-around;
	padding: 40px 0;
}


@media screen and (max-width: 800px) { 

	body {
		max-width: 800px;
	}

	.flexbox div{
		flex: 33%;
	}

	.card-container { 
		align-items: baseline;
		padding: 55px 40px;
	}

	.card-img {
		align-self: center;
		padding-left: 10px;
	}

	.card {
		flex: 50%;
	}

	.first-p {
		padding: 20px 0;
	}

	.imggalery {
		flex-wrap: wrap;
	}

	.diamond {
		flex: 50%;
		padding: 20px 10px;
	}
}

@media screen and (max-width: 700px) {

	.poll{
		justify-content: space-between;
	}

	.skill-container {
		padding: 30px 20px;
	}

}

@media screen and (max-width: 640px) { 

	.about-us {
		padding-top: 220px;
	}

	.header-container{
		width: 100%;
		margin: 0 auto;
		display: block;
		text-align: center;
	}
	
	.logo {
		background-color: white;
		padding: 10px 0;
	}

	.header-container a{
		width: 100%;
		display: block;
		margin-left: 0px
	}

	.list{
		text-align: center;
	}

	.list li:nth-child(odd){
		border-top: 0.5px solid #5eeee9;
		border-bottom: 0.5px solid #5eeee9;
	}

	.list ul{
		display: block;
		background-color: #10c9c3;
	}

	.list li {
		padding: 7px 0;
	}

	.list li a{
		color: white;
	}

	.poll{
		text-align: center;
		flex-wrap: wrap;
	}

	.polldiv {
		justify-content: center;
		flex: 100%;
	}

	.progressbar.A75, .progressbar.A90, .progressbar.A65 {
		width: 100%;
	}

	.card {
		padding: 0 10px;
	}

	.qtext {
		padding: 0 10px;
	}

	.input input, .input textarea {
		width: 90%;
	}

	.flexbox div{
		flex: 50%;
	}

}

.mySlides {display: none}

.slideshow-main {
	background-color: rgb(16,201,195);

}

/* Slideshow container */
.slideshow-container {
  max-width: 1250px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot-main {
	text-align:center;
	padding: 10px 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
} 

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}